@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f0f2f5] text-dark overflow-hidden h-screen;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
